body {
    height: auto;
    width: auto;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #888a85 #f2f3f7;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f2f3f7;
}

*::-webkit-scrollbar-thumb {
    background-color: #888a85;
    border-radius: 0px;
    border: 3px solid #000000;
}

::selection {
    background: #90929f;
}

.img-size-md {
    width: 8rem;
    height: 8rem;
}

.nav {
    top: 0;
    right: 0;
    padding: 1rem;
}

.w-maxcontent {
    width: max-content;
}

.w-page {
    width: 474px;
}

.mw-8 {
    max-width: 80vw;
}

.box-undertext {
    width: 16rem;
}

.dolar-content {
    font-size: 3rem;
}

.deco-none {
    box-shadow: none !important;
    color: #90929f;
}

.input-username {
    height: 1.15rem;
    text-align: end;
    height: 2.5rem !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-search {
    width: 8rem;
    height: 4rem;
}

.pfp-icon {
    position: relative;
    top: -6rem;
    /* left: 1rem; */
    background: #f2f3f7;
    border-radius: 4rem;
    border: 2px solid #888a98;
}

.main-content {
    margin-top: 7rem;
    height: 458px;
}

.username-info {
    position: relative;
    top: -6rem;
}

.no-size {
    width: 10rem;
    height: 8rem;
}

.user-pfp-position {
    top: 1rem;
}

nav ul {
    height: 200px;
    width: 18%;
    padding-left: 1rem !important;
}
nav ul {
    overflow: hidden;
    overflow-y: scroll;
}

.list-repos {
    width: 18rem;
    list-style: none;
}

/* #phrase::before {
    content: '\"'
}

#phrase::after {
    content: '\"'
} */

.git-phrase {
    font-family: Laksaman;
    font-size: 20px;
}

.f12 {
    font-size: 12px;
}
